:root {
    --primary-color: #17a2b8;
    --secondary-color: #6c757d;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color); ;
}

header {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}

header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

section h2 {
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}

@media (max-width: 600px) {
	main {
		padding: 10px;
	}
	section {
		padding: 15px;
	}
}